/* Centers the whole login box */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#loginheading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Styles for the login box itself */
.login-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background: white;
}

#loginbutton {
    background-color: rgb(177, 184, 172);
    border-radius: 30px;
    height: 30px;
    border: none;
}
button:hover{
    cursor: pointer;
}

input {
    border-radius: 30px;
    height: 30px;
    border-width: 1px;
    text-align: center;
}

input:focus::placeholder {
  color: transparent;
}

#signupbutton{
    background-color: rgb(24, 119, 242);
    height: 30px;
    border-radius: 30px;
    border: none;
}
