.dashboard {
  display: flex;
  height: 100vh;
  background: #f5f5f5;
}

.sidebar {
  width: 250px;
  background-color: #2e3b4e;
  border: 2px solid black;
  border-radius: 30px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
}

.sidebar h3 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #ffc107;
}

.task-section {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 85vh;
  overflow-y: auto;
  padding-right: 10px;
}
