.user-form-container {
  width: 320px;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.user-form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 12px;
  font-weight: 500;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.checkbox {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 6px;
}

button {
  margin-top: 16px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

input:focus::placeholder{
    color: transparent;
}
