.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center; /* align selects + button on same line */
  background: #f5f5f5;
  border-radius: 10px;
  padding: 12px 20px;
  margin-bottom: 20px;
}

.filters-container {
  display: flex;
  flex-direction: column;
}

.filters-label {
  font-weight: 600;
  margin-bottom: 4px;
  color: #444;
  font-size: 0.9rem;
}

.filters {
  display: flex;
  gap: 10px; /* space between selects */
}

.filters select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

select:hover{
    cursor: pointer;
    background-color: #f5f5f5;
}

.add-task-btn {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  transition: background 0.3s;
  height: fit-content;
}

.add-task-btn:hover {
  background: #0056b3;
}
